<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <title>Wypożyczalnia Samochodów</title>
</head>
<body>
<header>
    <h1>Wypożyczalnia Samochodów</h1>
    <nav>
        <ul>
            <li><a href="{% url 'Base_app:main' %}">Strona Główna</a></li>
            <li><a href="{% url 'cars:all_cars' %}">Oferta</a></li>
            <li><a href="#">Kontakt</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}">Wyloguj</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">login</a></li>
            <li><a href="{% url 'accounts:register_user' %}">sign up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>


{% block content %}{% endblock %}

<footer>
    <p>&copy; 2024 Wypożyczalnia Samochodów. Wszelkie prawa zastrzeżone.</p>
</footer>
</body>
</html>