

{% extends 'Base_app/base.html' %}

{% block content %}

<section class="workspace"><div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d610.9180962726817!2d21.00173376971237!3d52.23116969824918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc8c49633d1d%3A0xaa349f21569c205!2sTower%2C%20Z%C5%82ota%2044%2C%20Z%C5%82ota%2044%2C%2000-120%20Warszawa!5e0!3m2!1spl!2spl!4v1707072645256!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div></section>

{% if user.is_authenticated %}

<section class="reservation-section">
    <h2>Rezerwacja Samochodu</h2>
    <form action="{% url 'reservations:create_reservation' %}" method="post" class="reservation-form">
        {% csrf_token %}
        <label for="pickup-date">Data Odbioru:</label>
        {{ form.reservation_start_date }}


        <label for="return-date">Data Zwrotu:</label>
        {{ form.reservation_end_date }}

        <button type="submit">Zarezerwuj Samochód</button>
    </form>
</section>
{% else %}
<section class="reservation-section">
    <h2>Zaloguj by zlozyc rejestracje</h2>
    <form action="{% url 'accounts:login' %}" method="post" class="reservation-form">
        {% csrf_token %}
        <label for="pickup-date">Login:</label>
        {{ login_form.username }}


        <label for="return-date">Password:</label>
        {{ login_form.password }}

        <button type="submit">Login</button>
    </form>
</section>
{% endif %}

<div class="car-container">
    {% for car in cars %}
        <div class="widget-car">
            <div class="car-image">
                <img src="static/img/car.jpg" alt="Wsiadasz, jedziesz... jak gość">
            </div>
            <div class="car-details">
                <h2>{{ car.model }}</h2>
                <h2>{{ car.color.color_name }}</h2>
                <p>Silnik: {{ car.engine_size }} {{ car.fuel }}</p>
                <p>Klasa: {{ car.model.car_class }}</p>
                <p>Dostępność: </p>
                <button>Zarezerwuj</button>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}