{% extends 'Base_app/base.html' %}

{% block content %}
<section class="reservation-section">
    <h2>Rezerwacja Samochodu</h2>
    <form action="#" method="post" class="reservation-form">

        <label for="pickup-date">Data Odbioru:</label>
        <input type="date" id="pickup-date" name="pickup-date" required>

        <label for="return-date">Data Zwrotu:</label>
        <input type="date" id="return-date" name="return-date" required>

        <button type="submit">Zarezerwuj Samochód</button>
    </form>
</section>


<a href="">cars</a>
<a href="{% url 'cars:filter_cars' %}">cars filter</a>
{% if user.is_authenticated %}
<a href="{% url 'reservations:create_reservation' %}">crate reservation</a>
{% else %}


{% endif %}

{% endblock %}