{% extends 'Base_app/base.html' %}
{% load static %}
{% block content %}
<section class="top description">
    <h1>Takie tam samochody mamy</h1>

</section>
<!-- wersja pierwotna:
<div class="car-container">
    {% for car in cars %}
    <div class="widget-car">
            <div class="car-image">
                {% if car.pic %}
                <img src="{{ car.pic.url }}" alt="Jedziesz jak gość!" width="330">
                {% else %}
                <img src="{% static 'img/photographer.png' %}" alt="Zara Zosia zrobi" width="330">
                {% endif %}
            </div>
            <div class="car-details">
                <h2>{{ car.model }}</h2>
                <h2>{{ car.color.color_name }}</h2>
                <p>Silnik: {{ car.engine_size }} {{ car.fuel }}</p>
                <p>Klasa: {{ car.model.car_class }}</p>
                <p>Dostępność: </p>
                <button>Zarezerwuj</button>
            </div>
        </div>

    {% endfor %}
</div>
-->
<div class="car-container">
    {% for car_class in car_classes %}
    <h2>Klasa {{car_class}}</h2>
    {% for car in cars %}
    {% if car.model.car_class == car_class %}
    <div class="widget-car">
        <div class="car-image">
            {% if car.pic %}
            <img src="{{ car.pic.url }}" alt="Jedziesz jak gość!" width="330">
            {% else %}
            <img src="{% static 'img/photographer.png' %}" alt="Zara Zosia zrobi" width="330">
            {% endif %}
        </div>
        <div class="car-details">
            <h2>{{ car.model }}</h2>
            <h2>{{ car.color.color_name }}</h2>
            <p>Silnik: {{ car.engine_size }} {{ car.fuel }}</p>
            <p>Klasa: {{ car.model.car_class }}</p>
            <p>Dostępność: </p>
            <button>Zarezerwuj</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>


{% endblock %}