{% extends 'Base_app/base.html' %}

{% block content %}
<ul>
    {% for car in cars %}

    <li>
        <section class="main-section">
            <h2>Oferta Samochodów</h2>
            <div class="car-listing">
                <div class="car-image">
                    <img src="path/to/car-image.jpg" alt="Car Image">
                </div>
                <div class="car-details">
                    <h3>{{ car.model.model_name }}</h3>
                    <h3>{{ car.color.color_name }}</h3>
                    <p>Rok Produkcji: 2022</p>
                    <p>Klasa: Kompakt</p>
                    <p>Dostępność: Dostępny</p>
                    <button>Zarezerwuj</button>
                </div>
            </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}