{% extends 'Base_app/base.html' %}
{% load static %}
{% block content %}
<div class="form-table">
    <form method="get" action="{% url 'cars:filter_cars' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Model:</td><td>{{ form.model }}</td>
                <td>Kolor:</td><td>{{ form.color }}</td>
            </tr>
            <tr>
                <td>Paliwo:</td><td>{{ form.fuel }}</td>
                <td>Engine Size:</td><td>{{ form.engine_size }}</td>
            </tr>
            <tr>
                <td colspan="4" text-align="center"><div class="form-group">Wybierz klasy samochodów:
                    {% for car_class in form.car_class %}
                    {{ car_class.tag }} {{ car_class.choice_label }}
                    {% endfor %}
</div></td>
            </tr>
            <tr>
                <td colspan="4" text-align="center"><button type="submit">Filter</button></td>
            </tr>
        </table>
    </form>
</div>
<div class="car-container">
    {% for car_class in car_classes %}
    <div class="car-container-title"><h2>Klasa {{ car_class }}</h2></div>
    <div class="car-container-data">
        {% for car in cars %}
        {% if car.model.car_class == car_class %}
        <div class="widget-car">
            <div class="car-image">
                {% if car.pic %}
                <img src="{{ car.pic.url }}" alt="Jedziesz jak gość!" width="330">
                {% else %}
                <img src="{% static 'img/photographer.png' %}" alt="Zara Zosia zrobi" width="330">
                {% endif %}
            </div>
            <div class="car-details">
                <h2>{{ car.model }}</h2>
                <h2>{{ car.color.color_name }}</h2>
                <p>Silnik: {{ car.engine_size }} {{ car.fuel }}</p>
                <p>Klasa: {{ car.model.car_class }}</p>
                <p>Dostępność: </p>
                <a href="{% url 'cars:car_detail' car.id %}">Sprawdź szczegóły</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}